<!doctype html>
<html ng-app="post" ng-controller="PostCtrl">
<head>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="/files/js/lib/markdown.js"></script>
<link rel="stylesheet" type="text/css" href="/files/css/main.css" media="screen" />
</head>
<body>
	<form ng-submit="submit()">
                <div class='item'>
			<label>Name</label>
			<input type="text" ng-model="post.author">
		</div>
                <div class='item'>
			<label>Title</label>
			<input type="text" ng-model="post.title">
		</div>
                <div class='item'>
			<label>Content</label><br>
			<textarea ng-model="post.content" rows="10" cols="50"></textarea>
		</div>
		<input type="submit" value="Submit">
	</form>  
</body>
<script>
  angular.module('post', [])
    .controller('PostCtrl', ['$scope', '$http', function($scope, $http) {
      $scope.post = {id: 0} 
      $scope.submit = function() {
        var d = new Date()
        $scope.post.date = d.toISOString()
        $http.post("/newPost", $scope.post)
        $scope.post = {}
      };
    }]);
</script>
</html>
